---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
    <style is:global>
        :root {
            --bg: #030712;
            --text: #f9fafb;
            --accent: #818cf8;
        }
        body {
            background-color: var(--bg);
            color: var(--text);
            font-family: 'Outfit', sans-serif;
            margin: 0; line-height: 1.5;
        }
    </style>
</head>
<body>
    <slot />
</body>
</html>
